// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	animation: scale-color 3s infinite;
	
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.circles {
	height: 50px;
	width: 50px;
	padding: 30px;
	margin: 70px;
	border-radius: 50%;
	background-color: dodgerblue;
	animation:  scale-easeInBounce 3s infinite;
}



@keyframes scale-easeInBounce {
	0% {
		transform: scale(1);
	}

	4% {
		transform: scale(0.98);
	}

	8% {
		transform: scale(0.99);
	}

	18% {
		transform: scale(0.94);
	}

	26% {
		transform: scale(0.98);
	}

	46% {
		transform: scale(0.75);
	}

	64% {
		transform: scale(0.98);
		background: orange;
	}

	76% {
		transform: scale(1.5);
		background: yellow;
	}

	88% {
		transform: scale(0.11);
	}

	100% {
		transform: scale(0);
	}

}


@keyframes scale-color {
	0% {
		background-color: red;
	}

	4% {
		transform: scale(0.98);
	}

	8% {
		transform: scale(0.99);
	}

	18% {
		transform: scale(0.94);
	}

	26% {
		transform: scale(0.98);
	}

	46% {
		transform: scale(0.75);
	}

	64% {
		transform: scale(0.98);
	}

	76% {
		transform: scale(1.5);
	}

	88% {
		transform: scale(0.11);
	}

	100% {
		transform: scale(0);
	}

}

